<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Site ecommerce{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

        {% block css %}
        {% endblock %}
    </head>
    <body>

      <header>
        header
      </header>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      Connecté en tant que {{ app.user.username }}
      <a href="{{ path('logout') }}">Déconnexion</a>
      {% else %}
      <a href="{{ path('login') }}">Connexion</a>
      {% endif %}
      <div>
        <nav>
          <ul>
            <li><a href="{{ path('page_home') }}">Home</a></li>
            <li><a href="{{ path('ecomm_home') }}">Les produits</a></li>
            <li><a href="{{ path('panier_produit') }}">Panier</a></li>
          </ul>
        </nav>
      </div>

      <hr>

      {% block body %}
      {% endblock %}

      <footer>
        footer
      </footer>

      {% block javascripts %}{% endblock %}
    </body>
</html>
