{% extends "base.html.twig" %}


{% block body %}

<h1>Produits</h1>

{{msgAjout}}

  <h2>Liste des annonces</h2>


  <ul>
    {% for produit in listProduits %}
      <li>
        <a href="{{ path('consultation_produit', {nomProduit:produit.nom}) }}">
          {{ produit.nom }} au prix :{{ produit.prix }}
        </a>
        <form class="" action="{{path('add_produit')}}" method="post">
          <input type="text" name="nomProduit" value="{{produit.nom}}" hidden>
          <input type="number" name="qte" value="" min="1" placeholder="quantite">
          <input type="submit" name="" value="ajouter au panier">
        </form>
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>


{% endblock %}
