{% extends ":layout:layoutbase.html.twig" %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<section class="login-page">

<div class="form">
<form action="{{ path('login') }}" method="post">
    <label for="username">Adresse e-mail</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <input type="hidden" name="_csrf_token"
       value="{{ csrf_token('authenticate') }}"
   >

    <button type="submit">login</button>
</form>
<a class="pull-right" href="{{ path('user_registration') }}">Pas encore inscrit ?</a>
</div>
</section>
<p>vendeur@vendeur.fr mdp: vendeur</p>
<p>user@user.fr   mdp: user</p>

{% endblock %}
