{% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{{asset('admin/css/bootstrap.min.css')}}">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="{{asset('admin/css/fonts_googleapis.com_css_family_Poppins_300_400_700.css')}}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{{asset('admin/css/style.default.css')}}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{{asset('admin/css/style.green.css')}}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico')}}">
    <!-- Font Awesome CDN-->
    <!-- you can replace it by local Font Awesome-->
    <script src="{{asset('admin/js/fontawesome.js')}}"></script>
    <!-- Font Icons CSS-->
    <link rel="stylesheet" href="{{asset('admin/css/file.myfontastic.com_icons.css')}}">

    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
{% endblock %}
{% block body %}

<div class="page form-page">
  <!-- Main Navbar-->
  {% include "AdminBundle:Admin:header.html.twig" %}

  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    {% include "AdminBundle:Admin:menu.html.twig" %}

    {% block page_content %}
    {% endblock page_content %}
  </div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
    <!-- Javascript files-->
    <script src="{{asset('admin/js/jquery.min.js')}}"></script>
    <script src="{{asset('admin/js/tether.min.js')}}"></script>
    <script src="{{asset('admin/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('admin/js/jquery.cookie.js')}}"> </script>
    <script src="{{asset('admin/js/jquery.validate.min.js')}}"></script>
    <script src="{{asset('admin/js/front.js')}}"></script>
{% endblock %}
