{% extends ":layout:layoutbase.html.twig" %}


{% block body %}
{{ parent() }}

<!-- Page Content -->
<section id="product">
  <div class="container">

    <div class="col-md-12">
      <div class="container text-center">
        <h2 class="heading-center">Notre gamme de produits</h2>
      </div>
      {% for message in app.flashes('notice') %}
      <div class="alert alert-success" role="alert">
      <div class="flash-notice">
        {{ message }}
      </div>
    </div>
      {% endfor %}
      {% for message in app.flashes('noticeFail') %}
      <div class="alert alert-danger" role="alert">
      <div class="flash-notice">
        {{ message }}
      </div>
    </div>
      {% endfor %}

    </div>
    <!-- /.col-md-12 heading -->


    <!-- end alert-success -->
    <div class="row">
      <!-- start of left menu -->
      <div class="col-md-3">
        <div class="box form-holder">
          <div class="list">
            <ul class=" list-unstyled text-capitalize" >
              <li><a href="{{ path ('user_user')}}">Mon compte</a></li>
              <li><a href="{{ path ('order_user')}}">Mes Commandes</a></li>
              </ul>
          </div>
        </div>
        <!-- /.col-md-4 product categories -->
      </div>
      <!-- end of left menu -->

      <div class="col-md-9">
        <div class="box form-holder">

          <div class="row">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">Commande</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <td>Client</td>
                      <th>Date</th>
                      <th>Total</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in listorder %}
                    <tr>
                      <td>
                        {% if order.utilisateur %}
                            {{order.utilisateur.firstname}} {{order.utilisateur.lastname}}
                        {% else %}
                            Utilisateur supprimé
                        {% endif %}
                        </td>
                      <td>{{ order.date|date('Y-m-d H:i') }}</td>
                      <td>{{ order.commande.prixTot }}</td>
                      <td>
                      <a href="{{ path('ordershow_user',{'id':order.id }) }}">Détails</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
      <!-- /.col-md-8 product list -->

    </div>
    <!-- /row -->

  </div>
</section>

{% endblock %}
