{% extends "ECommBundle:Order/layout:baseOrder.html.twig" %}

{% block body %}
{{ parent() }}



<!-- Shipping section -->
<section class="shipping">
  <div class="container">
    {{ form_start(form, {'id': 'shipping-address-form'} ) }}

    <div class="col-md-12">
      <div class="container text-center">
        <h2 class="heading-center">Détails de livraison</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="box form-holder">
          <div class="shipping-main">
            <div class="box-header">
              <h3><span class="text-success">1.</span> Adresse de livraison</h3>
            </div>
            <div class="row">
              <div class="col-sm-6">
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Prénom*'}}) }}
                <div class="form-group row has-danger">
                  <div class="form-control-feedback">{{ form_errors(form.name) }}</div>
                </div>
              </div>
              <div class="col-sm-6">
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom*'}}) }}
                <div class="form-group row has-danger">
                  <div class="form-control-feedback">{{ form_errors(form.lastname) }}</div>
                </div>
              </div>
              <div class="col-sm-6">
                {{ form_widget(form.state, {'attr': {'class': 'form-control', 'placeholder': 'Pays*'}}) }}
                <div class="form-group row has-danger">
                  <div class="form-control-feedback">{{ form_errors(form.state) }}</div>
                </div>
              </div>
              <div class="col-sm-6">
                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone*'}}) }}
                <div class="form-group row has-danger">
                  <div class="form-control-feedback">{{ form_errors(form.phone) }}</div>
                </div>
              </div>
              <div class="col-sm-8">
                {{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': 'Rue, société, etc.*'}}) }}
                <div class="form-group row has-danger">
                  <div class="form-control-feedback">{{ form_errors(form.address) }}</div>
                </div>
              </div>
              <div class="col-sm-4">
                {{ form_widget(form.address2, {'attr': {'class': 'form-control', 'placeholder': 'Apt, étage, etc.*'}}) }}
                <div class="form-group row has-danger">
                  <div class="form-control-feedback">{{ form_errors(form.address2) }}</div>
                </div>
              </div>
              <div class="col-sm-6">
                {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': 'Ville*'}}) }}
                <div class="form-group row has-danger">
                  <div class="form-control-feedback">{{ form_errors(form.city) }}</div>
                </div>
              </div>
              <div class="col-sm-6">
                {{ form_widget(form.zip, {'attr': {'class': 'form-control', 'placeholder': 'Code postal*'}}) }}
                <div class="form-group row has-danger">
                  <div class="form-control-feedback">{{ form_errors(form.zip) }}</div>
                </div>
              </div>
              <!--
              <div class="col-sm-12">
                <input type="checkbox" id="another-address">
                <label for="another-address">Adresse de facturation différente</label>
              </div>
            -->
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-md-7">

        <div class="box payment-method">
          <div class="box-header">
            <h3><span class="text-success">2.</span> Méthode de paiement <i class="fa fa-lock pull-right text-success"></i></h3>
          </div>
          <p class="payment-method text-secondary">
              <i class="fa fa-cc-visa fa-3x">  </i>
              <i class="fa fa-cc-mastercard fa-3x">  </i>
              <i class="fa fa-cc-amex fa-3x">  </i>
          </p>
          <div class="row">
            <div class="col-sm-12">
              <input type="text" name="cardname" class="form-control" placeholder="Nom du titulaire de la carte" required>
            </div>
            <div class="col-sm-7">
              <input type="text" name="cardnumber" class="form-control" placeholder="Numéro de carte" maxlength="14" required>
            </div>
            <div class="col-sm-5">
              <input type="password" name="cvv" class="form-control" placeholder="Cryptogramme" maxlength="3" required>
            </div>
            <div class="col-sm-6">
              <input type="text" name="expirymonth" class="form-control" placeholder="Mois d'expiration" maxlength="2" required>
            </div>
            <div class="col-sm-6">
              <input type="text" name="expiryyear" class="form-control" placeholder="Année d'expiration" maxlength="4" required>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-5">
      <div class="box" id="order-summary">
        <div class="box-header text-center">
          <h3><span class="text-success">3.</span> Montant de la commande</h3>
        </div>
        <p class="text-muted"> Le montant TTC est calculé en fonction du contenu de votre panier. Il tient compte des frais de port fixes.</p>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>Total (HT)</td>
                <th>€{{recapitulatif.prixTot}}</th>
              </tr>
              <tr>
                <td>TVA (20%)</td>
                <th>€{{recapitulatif.prixTot * 0.20}}</th>
              </tr>
              <tr>
                <td>Frais de port (fixes)</td>
                <th>€15.00</th>
              </tr>
              <tr class="total">

                <td><span class="text-success">Total TTC</span></td>

                <th><span class="text-success">€{{15 + recapitulatif.prixTot * (1 + (20 / 100))}}</span></th>
              </tr>
            </tbody>
          </table>

          <div class="col-sm-12">
            <input class="order-now btn btn-unique btn-lg text-center" id="shipping-submit" type="submit" name="" value="Commander">
          </div>
        </div>

      </div>
    </div>
  </div>
  {{ form_end(form) }}
</div>
</section>
<!-- End Shipping section -->
</div>


{% endblock %}
