{% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<!-- Bootstrap CSS File -->
<link rel="stylesheet" href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}">
<!-- Main Stylesheet File -->
<link rel="stylesheet" href="{{asset('vendor/css/style.css')}}">
<link href="{{asset('vendor/css/fonts_googleapis_com_css_family_Open_Sans.css')}}" rel="stylesheet">
{% endblock %}

{% block header %}
<header>
  <!--  navbar -->
  <nav class="navbar navbar-expand-lg navbar-default fixed-top">
    <div class="container">

      <a class="navbar-brand" href="{{ path('page_home') }}"><img src={{asset('vendor/img/JNLogo.png')}} alt="JNLogo" width="230"></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('page_home') }}">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('ecomm_home') }}">Les produits</a>
          </li>
          <li class=" nav-item">
            <a class="nav-link" href="{{ path('panier_produit') }}"><span class="fa fa-shopping-cart">Panier</span></a>
          </li>
        </ul>



        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bonjour {{ app.user.firstname }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            {% if is_granted('ROLE_VENDEUR') %}
            <li class="dropdown-header">> Gestion du site</li>
            <a class="dropdown-item" href="{{ path ('index_admin')}}">Administration</a>
            {% else %}
            <li class="dropdown-header">> Espace Client</li>
            <a class="dropdown-item" href="{{ path ('user_user')}}">Mon compte</a>
            <a class="dropdown-item" href="{{ path ('order_user')}}">Mes Commandes</a>
            <a class="dropdown-item" href="{{ path('panier_produit') }}">Voir votre panier</a>
            {% endif %}
            <li class="dropdown-header">> Autre</li>
            <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
            <a class="dropdown-item disabled inactiveLink" href="#">Nous contacter</a>
          </div>
        </div>
        {% else %}
        <a href="{{ path('login') }}" role="button" class="btn">Identifiez-vous >></a>
        {% endif %}
      </div>
    </div>
    <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
  </nav>

</header>
{% endblock %}

{% block body %}


{% endblock %}

{% block footer %}
<footer class="main-footer">

  <div class="container">
    <div class="row">

      <div class="about col-md-6">
        <h3>Boutique</h3>
        <ul class="list-unstyled">
          <li> <a href="{{ path('ecomm_home') }}">Nos produits</a></li>
        </ul>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      {% if is_granted('ROLE_VENDEUR') %}
      <h3>Gestion du site</h3>
      <ul class="list-unstyled">
      <li><a href="{{ path ('index_admin')}}">Panneau d'administration</a></li>
      </ul>

    {% else %}
    <div class="site-links col-md-6">
        <h3>Espace client</h3>
        <ul class="list-unstyled">
          <li> <a href="{{ path ('user_user')}}">Mon compte</a></li>
          <li> <a href="{{ path ('order_user')}}">Mes Commandes</a></li>
          <li> <a href="{{ path('panier_produit') }}">Mon panier</a></li>
        </ul>
      </div>
        {% endif %}
      {% else %}
        <ul class="list-unstyled">
          <li> <a href="{{ path ('login')}}">Identifiez-vous</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="container">

    <div class="row">

      <div class="contact col-md-12">
        <h3>Nous contacter</h3>
        <div class="info">
          <p>Jack&Noël Corporation</p>
          <p>35000 Rennes</p>
          <p>Email: <a href="mailto:contact@jack-noel.bzh">contact@jack-noel.bzh</a></p>
          <ul class="social-menu lisy-inline">
            <li class="list-inline-item"><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://vimeo.com/64086472?autoplay=1" target="_blank" title="En l'honneur de maxime"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="copyrights text-center">
    <p>© 2017 <span class="text-success">ENSIBS</span> - Projet E-commerce made with <span class="text-success">&hearts;</span>. L'abus d'alcool est dangereux pour la santé : Privilégiez le Champomy.</p>
  </div>
</footer>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{asset('vendor/js/popper.min.js')}}"></script>
<script src="{{asset('vendor/bootstrap/js/bootstrap.min.js')}}"></script>
{% endblock %}
