{% extends ":layout:layoutbase.html.twig" %}


{% block body %}
{{ parent() }}

  <p>{{ msg }}</p>

  <h2>récapitulatif commande</h2>

  <ul>
    {% for produit in recapitulatif.produits %}
    <li>
      {{produit.nom}} :
      {{produit.prix}} *
      {{produit.qte}} =
      {{produit.prixLot}} €
    </li>
    {% endfor %}
</ul>

 totale : {{recapitulatif.prixTot}} €

{% endblock %}
