{% extends ":layout:layoutbase.html.twig" %}


{% block body %}
{{ parent() }}

  <h2>panier</h2>
  {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
    {{ flashMessage }}
    </div>
  {% endfor %}



  {% if (panier is iterable) and (panier|length > 0) %}
    <a href="{{path('emptypanier_produit')}}">
      <input type="button" name="vider" value="vider le panier">
    </a>
    <ul>
      {% set prixHT = 0 %}{# declaration de variable #}
      {% for item in panier %}
      {# item est un produit + sa qte #}
        {% if item.qte > 0 %}
          <li>
            {{item.produit.nom}} * {{item.qte}} = {{item.qte * item.produit.prix}} € HT
            <a href="{{path('remove_panier', {id:item.produit.id})}}">x</a>
          </li>
          {% set prixHT = prixHT + (item.qte * item.produit.prix)%}{# calcul twig#}
        {% endif %}
      {% endfor %}
    </ul>
    <div class="">
      prix total HT : {{prixHT}} €
    </div>

    <div class="">
      <p>
        <a href="{{path('commande_validation')}}">
          <input type="button" name="valider" value="valider le panier">
        </a>
      </p>
    </div>
  {% else %}
      {# n'est pas pas un array || est vide #}
      <div class="">
        <p>Votre panier est vide</p>
      </div>
  {% endif %}
  <div class="">
    <p>
      <a href="{{path('ecomm_home')}}">
        <input type="button" name="" value="continuer les achats">
      </a>
    </p>
  </div>

{% endblock %}
