{% extends ":layout:layoutbase.html.twig" %}


{% block body %}
{{ parent() }}

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<!-- Page Content -->
<section>

<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Les produits</h1>
      <div class="list-group">
        {% for categorytab in categories %}
        <a href="{{ path('category', {'name' : categorytab.name}) }}"
        {% if category is defined and category==categorytab %}
        class="list-group-item active"
        {% else %}
        class="list-group-item"
        {% endif %}

        >{{ categorytab.name }}</a>
        {% endfor %}
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="row">

        {% for produit in listProduct %}
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="{{ path('consultation_produit',{'id':produit.id }) }}">
              <div class="card h-100">
              {% set firstimg = produit.medias|first %}
              {% if firstimg %}
              <img class="card-img-top " src="{{firstimg.url}}" alt="{{firstimg.alt}}">
              {% endif %}
                <div class="card-body">
                  <p class="card-title">
                    {{ produit.nom }}
                  </p>
                  <p class="card-price">
                    €{{ produit.prix }}
                  </p>
                  <button type="button" class="fa fa-cart-plus btn btn-success"> Ajouter au panier</button>

                </div>

              </div>
            </a>
        </div>

        {% else %}
        <p>Pas (encore !) d'annonces</p>
        {% endfor %}


      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
</section>
{% endblock %}
