{% extends ":layout:layoutbase.html.twig" %}


{% block body %}
{{ parent() }}

<!-- Page Content -->
<section id="product">
  <div class="container">

    <div class="col-md-12">
      <div class="container text-center">
        <h2 class="heading-center">Notre gamme de produits</h2>
      </div>
    </div>
    <div class="col-md-12">
    <!-- /.col-md-12 heading -->
      {% for message in app.flashes('notice') %}
      <div class="alert alert-success" role="alert">
      <div class="flash-notice">
        {{ message }}
      </div>
    </div>
      {% endfor %}
  </div>

    <!-- end alert-success -->
    <div class="row">
      <div class="col-md-3">
        <div class="box form-holder">
          <h3 class="my-4">Catégories</h3>
          <div class="list">
            <ul class=" list-unstyled text-capitalize">
              {% for categorytab in categories %}
              <li>  <a href="{{ path('category', {'name' : categorytab.name}) }}"

                {% if category is defined and category==categorytab %}
                class="ml-4 active"
                {% else %}
                class="ml-4"
                {% endif %}

                ><i class="fa fa-minus"> </i>  {{ categorytab.name }}</a>
              </li>

            {% endfor %}
          </div>
        </div>
        <!-- /.col-md-4 product categories -->

      </div>
      <div class="col-md-9">
        <div class="box form-holder">

          <div class="row">

            {% for produit in listProduct %}
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="{{ path('consultation_produit',{'id':produit.id }) }}">
                  <div class="card h-100">
                  {% set firstimg = produit.medias|first %}
                  {% if firstimg %}
                  <img class="card-img-top " src="{{firstimg.url}}" alt="{{firstimg.alt}}">
                  {% endif %}
                    <div class="card-body">
                      <p class="card-title">
                        {{ produit.nom }}
                      </p>
                      <p class="card-price">
                        €{{ produit.prix }}
                      </p>
                      <button type="button" class="btn btn-success"><i class="fa fa-cart-plus"> Ajouter au panier</i></button>

                    </div>

                  </div>
                </a>
            </div>

            {% else %}
            <p>Pas (encore !) d'annonces</p>
            {% endfor %}


          </div>
        </div>
      </div>
      <!-- /.col-md-8 product list -->

    </div>
    <!-- /row -->

  </div>
</section>

{% endblock %}
